<div class="quizz-container">

  <div class="quizz-header">
    <img src="assets/images/logo.png" alt="BuzzFeed Logo ">
    <h3>{{title}}</h3>
  </div>

  <div *ngIf=!end class="quizz-questions">
    <h3>{{questionSelected.question}}</h3>
  </div>

  <div *ngIf=!end class="quizz-options">
    <button
    *ngFor="let option of questionSelected.options; let i=index"
    (click)="optionSelected(option.alias)"
    class="button-description"
    >
      {{option.name}}
    </button>
  </div>

  <div *ngIf=end class="quizz-results">
    <h1>O Resultado foi decidido pelo tribunal</h1>
    <img *ngIf="answerSelected === 'Você muito provavelmente seria um super herói!'" src="assets/images/batman.gif" alt="">
    <img *ngIf="answerSelected === 'Você muito provavelmente seria um super vilão!'" src="assets/images/joker.gif" alt="">
    <p>{{answerSelected}}</p>
  </div>

</div>
